<h1><%= @user.username %></h1>

<% @user_posts.each do |post| %>
       <div class="container">
  <div class="row">
    <div class="col-sm">
      <%= link_to post.title, post %>
    </div>
  </div>
</div>
<% end %> <br>
<%= link_to 'stream', posts_path %> |
<%= link_to 'new rivue', new_post_path %>
