  <div class="container-home">
        <h1 id="landing-title">Welcome to Rivue.</h1>
        <p id="landing-p">see the world, tell your friends.</p>
   </div>
<%= link_to 'sign up', new_user_registration_path %>
<%= link_to 'log in', new_user_session_path %>

