@import "bootstrap";
/*universal styles */
body{
    background-color: #e6ecf0;
}

/*posts*/

img.photo-show{
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
/*index page styles*/
// #profile-card{
//     display: block;
//     min-height: 300px;
//     width: 200px;
//     background-color: white;
//     border: 10px;
//     border-color: rgb(247, 130, 130);
//     position: absolute;
//     left: 200px;
// }
.wrapper{
    min-height: 300px;
    width: 400px;
    background-color: white;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

