@import "bootstrap";
/*universal styles */
body{
    background-color: #e6ecf0;
}
img.photo-show{
    width: 400px;
    height: auto;
}
.wrapper{
    min-height: 300px;
    width: 400px;
    background-color: white;
}