@import "bootstrap";
/*universal styles */
body{
    background-color: #1ec0ff;
}
.navbar{
    box-shadow: 0px 0px 15px black;
}
/*end*/


/*welcome*/

.container-home{
    margin-left: 150px;
    margin-top: 400px;
}
#landing-title{
color: white;
}
#landing-p{
    color: white;
    
}
/*end*/


/*posts*/
#title{
    color: #a3daff
}
.post-body{
    padding: 5px;
}
img.photo-show{
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.wrapper{
    min-height: 300px;
    width: 400px;
    background-color: white;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

